<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

        <h2 class="mb-3">화재관리 건의 게시판</h2>

        <table class="board-table table table-sm border-bottom">

            <thead class="thead-light">
                <tr>
                    <th scope="col" class="numId">#</th>
                    <th scope="col">제목</th>
                    <th scope="col" class="views">조회수</th>
                    <th scope="col" class="author">작성자</th>
                    <th scope="col" class="date">작성일자</th>
                </tr>
            </thead>

            <tbody>
                <% if(posts == null || posts.length == 0){ %>
                <tr>
                    <td colspan=5>작성된 글이 없습니다.</td>
                </tr>
                <% } %>
                <% posts.forEach(function(post) { %>
                <tr>
                    <td class="numId"><%= post.numId %></td>
                    <td>
                        <a href="/posts/<%= post._id %><%= getPostQueryString() %>" class="title-container">
                            <div data-search-highlight="title" class="title-ellipses ellipses float-left">
                                <span class="title-text"><%= post.title %></span>
                            </div>
                            <% if(post.commentCount){ %>
                            <small class="title-comments d-inline-block pl-2">(<%= post.commentCount %>)</small>
                            <% } %>
                        </a>
                    </td>
                    <td class="views"><%= post.views %></td>
                    <td class="author">
                        <div data-search-highlight="author" class="ellipsis"><%= post.author ? post.author.username : "" %></div>
                    </td>
                    <td class="date">
                        <span data-date="<%= post.createdAt %>"></span>
                    </td>
                </tr>
                <% }) %>
            </tbody>

        </table>

        <div class="row mb-3">

            <div class="col-2">
                <a class="btn btn-primary" href="/posts/new<%= getPostQueryString() %>">글작성</a>
            </div>

            <nav class="col-8">
                <%
            var offset = 2;
            var previousBtnEnabled = currentPage>1;
            var nextBtnEnabled = currentPage<maxPage;
            %>
                <ul class="pagination pagination-sm justify-content-center align-items-center h-100 mb-0">
                    <li class="page-item <%= previousBtnEnabled?'':'disabled' %>">
                        <a class="page-link" href="/posts<%= getPostQueryString(false, {page:currentPage-1}) %>" <%= previousBtnEnabled?'':'tabindex=-1' %>>«</a>
                    </li>
                    <% for(i=1;i<=maxPage;i++){ %>
                    <% if(i==1 || i==maxPage || (i>=currentPage-offset && i<=currentPage+offset)){ %>
                    <li class="page-item <%= currentPage==i?'active':'' %>"><a class="page-link" href="/posts<%= getPostQueryString(false, {page:i})%>"> <%= i %> </a></li>
                    <% } else if(i==2 || i==maxPage-1){ %>
                    <li><a class="page-link">...</a></li>
                    <% } %>
                    <% } %>
                    <li class="page-item <%= nextBtnEnabled?'':'disabled' %>">
                        <a class="page-link" href="/posts<%= getPostQueryString(false, {page:currentPage+1}) %>" <%= nextBtnEnabled?'':'tabindex=-1' %>>»</a>
                    </li>
                </ul>
            </nav>

        </div>

        <form action="/posts" method="get" class="post-index-tool">
            <div class="form-row">

                <div class="form-group col-3">
                    <label>보기</label>
                    <select name="limit" class="custom-select" onchange="this.parentElement.parentElement.parentElement.submit()">
                        <option value="5" <%= limit==5?'selected':'' %>>5개씩 보기</option>
                        <option value="10" <%= limit==10?'selected':'' %>>10개씩 보기</option>
                        <option value="20" <%= limit==20?'selected':'' %>>20개씩 보기</option>
                    </select>
                </div>

                <div class="form-group col-9">
                    <label>검색</label>
                    <div class="input-group">
                        <select name="searchType" class="custom-select">
                            <option value="title,body" <%= searchType=='title,body'?'selected':'' %>>제목, 내용</option>
                            <option value="title" <%= searchType=='title'?'selected':'' %>>제목</option>
                            <option value="body" <%= searchType=='body'?'selected':'' %>>내용</option>
                            <option value="author" <%= searchType=='author'?'selected':'' %>>작성자</option>
                        </select>
                        <input minLength="3" type="text" name="searchText" value="<%= searchText %>">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">검색</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>


    </div>
</body>

</html>
